<% add_decidim_page_title(t("calendar.menu.gantt", scope: "decidim")) %>

<%= participatory_space_wrapper do %>
  <div class="row columns">
    <%= content_tag :div, "", id: "gantt", data: { tasks: tasks } %>
  </div>
<% end %>

<%= javascript_pack_tag "decidim_calendar_gantt" %>
<%= stylesheet_pack_tag "decidim_calendar_gantt" %>
