// = require "fullcalendar/core/main"
// = require "fullcalendar/daygrid/main"
@import "foundation";

#calendar{
  .fc-title{
    margin-left: 5px;
  }

  .fc-scroller {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  .fc-day-number{
    display: block;
    float: none;
    text-align: center;
  }

  .fc-day-top{
    background-color: #ededed;
  }

  .fc-today{
    background-color: #fcf8e3 !important;
  }

  td{
    border-color: #ccc !important;
  }

  .fc-today{
    background-color: #F0F3B6;
  }

  .fc-content-skeleton td{
    background-color: #fff;
  }

}
        // when "Decidim::ParticipatoryProcessStep"
        //   "#238ff7"
        // when "Decidim::Meetings::Meeting"
        //   "#fabc6c"
        // when "Decidim::Calendar::ExternalEvent"
        //   "#5fbd4c"
        // when "Decidim::Debates::Debate"
        //   "#d87537"
        // when "Decidim::Consultation"
        //   "#A854BD"
        // end

$meeting: #fabc6c !default;
$debate: #d87537 !default;
$consultation: #A854BD !default;
$external_event: #5fbd4c !default;
$participatory_step: #238ff7 !default;

.calendar-filters{
  .meeting{
    @include button-style($meeting, $meeting, white);
    &.hollow{
      color: $meeting;
      border-color: $meeting;
      @include button-hollow;
    }
  }
  .debate{
    @include button-style($debate, $debate, white);
    &.hollow{
      color: $debate;
      border-color: $debate;
      @include button-hollow;
    }

  }
  .consultation{
    @include button-style($consultation, $consultation, white);
    &.hollow{
      color: $consultation;
      border-color: $consultation;
      @include button-hollow;
    }
  }
  .external_event{
    @include button-style($external_event, $external_event, white);
    &.hollow{
      color: $external_event;
      border-color: $external_event;
      @include button-hollow;
    }
  }
  .participatory_step{
    @include button-style($participatory_step, $participatory_step, white);
    &.hollow{
      color: $participatory_step;
      border-color: $participatory_step;
      @include button-hollow;
    }
  }
}
