// = require "fullcalendar/core/main"
// = require "fullcalendar/daygrid/main"

#calendar{
  .fc-title{
    margin-left: 5px;
  }

  .fc-scroller {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  .fc-day-number{
    display: block;
    float: none;
    text-align: center;
  }

  .fc-day-top{
    background-color: #ededed;
  }

  .fc-today{
    background-color: #fcf8e3 !important;
  }

  td{
    border-color: #ccc !important;
  }

  .fc-today{
    background-color: #F0F3B6;
  }

  .fc-content-skeleton td{
    background-color: #fff;
  }

}
